[wiki]
# name of your wiki (e.g. "English Wikipedia" or "John Doe's Wiki")
name = Your Wiki

# URL of your wiki
url = http://localhost/wiki/
type = net

# URL to retrieve articles in wikitext
# @TITLE@ is replaced with the article title
# @REVISION@ is replaced with the article revision (oldid)
articleurl = http://localhost/wiki/index.php?title=@TITLE@&oldid=@REVISION@&action=raw

# URLs to retrieve templates in wikitext
# @TITLE@ is replaced with the article title
templateurls = http://localhost/wiki/index.php?title=Template:@TITLE@&action=raw


# URL to retrieve the template blacklist
# blacklisted templates are not included in the pdf
# Syntax for the blacklist:
# * [[Template:TEMPLATENAME]]
# --> each line contains one blacklisted template
# the line has to start with an asterisk followed by a link to the template
templateblacklist = http://localhost/wiki/index.php?title=Templateblacklist&action=raw

[images]
type = download

# URL to your images directory
url = http://localhost/wiki/images/

# Path to local caching directory for images.
# If no localpath is given a temporary directory is chosen
# and images are not cached in that case
localpath = /tmp/images/

[pdf]

# path to the png used on the cover page of generated PDFs
coverimage = /path/to/mwlib.rl/mwlib/rl/wikipedia_logo.png
