include .hgignore
include MANIFEST.in
include README.html
include README.txt
include compile_messages.py
include conftest.py
include example-mwlib.config
include ez_setup.py
include make_messages.py
include mwlib/__init__.py
include mwlib/fonts/DejaVuSans-Bold.ttf
include mwlib/fonts/DejaVuSans-BoldOblique.ttf
include mwlib/fonts/DejaVuSans-Oblique.ttf
include mwlib/fonts/DejaVuSans.ttf
include mwlib/fonts/DejaVuSansMono-Bold.ttf
include mwlib/fonts/DejaVuSansMono-BoldOblique.ttf
include mwlib/fonts/DejaVuSansMono-Oblique.ttf
include mwlib/fonts/DejaVuSansMono.ttf
include mwlib/fonts/DejaVuSerif-Bold.ttf
include mwlib/fonts/DejaVuSerif-BoldItalic.ttf
include mwlib/fonts/DejaVuSerif-Italic.ttf
include mwlib/fonts/DejaVuSerif.ttf
include mwlib/fonts/__init__.py
include mwlib/rl/__init__.py
include mwlib/rl/_version.py
include mwlib/rl/create_collection.py
include mwlib/rl/customflowables.py
include mwlib/rl/debughelper.py
include mwlib/rl/locale/de/LC_MESSAGES/mwlib.rl.mo
include mwlib/rl/locale/de/LC_MESSAGES/mwlib.rl.po
include mwlib/rl/pagetemplates.py
include mwlib/rl/pdfstyles.py
include mwlib/rl/rlhelpers.py
include mwlib/rl/rlsourceformatter.py
include mwlib/rl/rltables.py
include mwlib/rl/rlwriter.py
include mwlib/rl/wikipedia_logo.png
include mwlib/tests/__init__.py
include mwlib/tests/renderhelper.py
include mwlib/tests/test_advanced.py
include mwlib/tests/test_basicnodes.py
include mwlib/tests/test_snippets.py
include setup.py
