include README.html
include mwlib/rl/locale/de/LC_MESSAGES/mwlib.rl.mo
include mwlib/rl/locale/en/LC_MESSAGES/mwlib.rl.mo
include mwlib/rl/locale/fr/LC_MESSAGES/mwlib.rl.mo
include mwlib/rl/locale/hu/LC_MESSAGES/mwlib.rl.mo
include mwlib/rl/locale/it/LC_MESSAGES/mwlib.rl.mo
include mwlib/rl/locale/pl/LC_MESSAGES/mwlib.rl.mo
include mwlib/rl/locale/pt/LC_MESSAGES/mwlib.rl.mo
