include .hgignore
include MANIFEST.in
include README.html
include README.txt
include enwiki-conf.txt
include example-mwlib.config
include ez_setup.py
include mwlib/__init__.py
include mwlib/fonts/DejaVuSans-Bold.ttf
include mwlib/fonts/DejaVuSans-BoldOblique.ttf
include mwlib/fonts/DejaVuSans-Oblique.ttf
include mwlib/fonts/DejaVuSans.ttf
include mwlib/fonts/DejaVuSansMono-Bold.ttf
include mwlib/fonts/DejaVuSansMono-BoldOblique.ttf
include mwlib/fonts/DejaVuSansMono-Oblique.ttf
include mwlib/fonts/DejaVuSansMono.ttf
include mwlib/fonts/DejaVuSerif-Bold.ttf
include mwlib/fonts/DejaVuSerif-BoldItalic.ttf
include mwlib/fonts/DejaVuSerif-Italic.ttf
include mwlib/fonts/DejaVuSerif.ttf
include mwlib/fonts/__init__.py
include mwlib/rl/__init__.py
include mwlib/rl/apps.py
include mwlib/rl/create_collection.py
include mwlib/rl/customflowables.py
include mwlib/rl/debughelper.py
include mwlib/rl/gfdl.txt
include mwlib/rl/pagetemplates.py
include mwlib/rl/pdfstyles.py
include mwlib/rl/rltables.py
include mwlib/rl/rlwriter.py
include mwlib/rl/wikipedia_logo.png
include setup.py
